<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="login-box-wrapper">
        <div>
            <ion-item>
<!--                <ion-label position="floating">Login</ion-label>-->
                <ion-input [(ngModel)]="givenLogin" placeholder="Digite seu email"></ion-input>
            </ion-item>

            <ion-item>
<!--                <ion-label position="floating">Senha</ion-label>-->
                <ion-input type="password" [(ngModel)]="givenPassword" placeholder="Digite sua senha"></ion-input>
            </ion-item>

            <ion-button color="primary" expand="block" (click)="makeLogin()">Entrar</ion-button>
        </div>
    </div>

</ion-content>
