ion-content {
    --background: #4e4e4e;
}

/**
 * Login box
 */
#login-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &> div {
        width: 70vw;
        background-color: white;
        padding: 10px 10px;

        ion-item {
            //text-align: center;
            --background: #efefef;
            margin-bottom: 4px;

            ion-input {
                --margin: 5px;
            }
        }

        ion-button {
            --border-radius: none;
            width: 50%;
            margin: 10px  auto auto auto;
        }
    }
}
