ion-card {
    width: 100%;
    max-width: 550px;

    ion-thumbnail {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;


        ion-img {
            max-height: 400px;
            overflow: hidden;
        }

    }

    ion-label {
        font-size: 28px;
        padding: 10px;
    }
}

#slide-navigation {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-right: 10px;

    &> button {
        background-color: #CCC;
        padding: 5px;
        margin: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #e0e0e0;
        }

        &[disabled] {
            opacity: 0.5;
        }

        ion-icon {
            font-size: 20px;
        }
    }
}
