<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Listagem de Carros
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Segment in a toolbar -->
    <ion-toolbar>
        <ion-segment (ionChange)="carTypeChanged($event)">
            <ion-segment-button value="{{t.typeId}}" *ngFor="let t of carTypes" [checked]="t.selected">
                <ion-icon name="car"></ion-icon>
                <ion-label>{{t.typeName}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <section>
        <ion-slides pager="false" (ionSlideDidChange)="onSlideDidChange()">
            <ion-slide *ngFor="let c of carListToShow">
                <ion-card>
                    <ion-thumbnail slot="start" [style.background-image]="'url('+c.urlIimage+')'">
<!--                        <ion-img [src]="c.urlIimage"></ion-img>-->
                    </ion-thumbnail>
                    <ion-label>{{c.nomeCarro}}</ion-label>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <div id="slide-navigation">
            <button class="arrow-backward" (click)="prevSlide()" [disabled]="disableSlideButton == 'prev'"><ion-icon name="arrow-round-back"></ion-icon></button>
            <button class="arrow-forward" (click)="nextSlide()" [disabled]="disableSlideButton == 'next'"><ion-icon name="arrow-round-forward"></ion-icon></button>
        </div>
    </section>
</ion-content>
